@model CourseDiscount

@{
    IEnumerable<KeyValuePair<string,string>> lstcourses = (IEnumerable<KeyValuePair<string,string>>)ViewData["lstcourses"];
    IEnumerable<KeyValuePair<string,string>> lstdiscounts = (IEnumerable<KeyValuePair<string,string>>)ViewData["lstdiscounts"]; 
}


@* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
<div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Map Course and Discount</h4>
                  <p class="card-category">Map Course and Discount Information with utmost Caution. </p>
                </div>
                <div class="card-body">
                  <form method="POST">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                            <input type = "hidden" asp-for="Id">
                          <label class="bmd-label-floating">Course Name</label>
                          <select asp-for="CourseId">
                              @foreach(KeyValuePair<string,string> kv in lstcourses)
                                  {
                                      if(Model.CourseId.ToString() == kv.Key)
                                      {
                                          <option value="@kv.Key" selected>@kv.Value</option>
                                      } 
                                      else
                                      {
                                          <option value="@kv.Key">@kv.Value</option>
                                      }
                                      
                                  }
                          </select>

                          <span asp-validation-for="CourseId" class="text-danger"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Discount Name</label>
                          <select asp-for="DiscountId">
                              @foreach(KeyValuePair<string,string> kv in lstdiscounts)
                                  {
                                       if(Model.DiscountId.ToString() == kv.Key)
                                      {
                                          <option value="@kv.Key" selected>@kv.Value</option>
                                      } 
                                      else
                                      {
                                          <option value="@kv.Key">@kv.Value</option>
                                      }
                                  }
                          </select>

                          <span asp-validation-for="DiscountId" class="text-danger"></span>
                        </div>
                      </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary pull-right">Update</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img" src="~/assets/img/faces/marc.jpg" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                  <h4 class="card-title">Rahul Singh</h4>
                  <p class="card-description">
                    You have to Think anyways, so why not Think BIG!!!!
                    </p>
                  <a href="javascript:;" class="btn btn-primary btn-round">Follow</a>
                </div>
              </div>
            </div>
          </div>



@section Scripts
{
  <partial name="_ValidationScriptsPartial"></partial>
}